<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">      
      <h1>Editing Answer</h1>

      <%= render 'form', answer: @answer %>

      <%= link_to 'Show', @answer %> |
      <%= link_to 'Back', answers_path %>
    </div>
  </div>
</div>
