<div class="votes-cell">
  <%= link_to '<span class="glyphicon glyphicon-triangle-top vote-icon" aria-hidden="true"></span> '.html_safe, path_up, remote: true, method: :post  %>
  <span class="total-votes" id="total-votes-<%= votable.id %>"><%= votable.votes.votes_up.count - votable.votes.votes_down.count %></span>
  <%= link_to '<span class="glyphicon glyphicon-triangle-bottom vote-icon" aria-hidden="true"></span> '.html_safe, path_down, remote: true, method: :post  %>
</div>
